body {
    background-color: aqua;
    font-family: cursive;
}
ext-align: left;

}
.navig {
    display: inline;
}
ul {
    list-style-type: none;
    display: inline;
}
li {
    display: inline;
}
.image {
    image-resolution: 30px 60px;
}
